@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--off-white);
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* COLOR DEFINITION */
:root {
  /* --yello: #af7f0d;
    --light-yellow: #a87d19;
    --grey: #2B2B2B;
    --light-grey: #767676;
    --white: #ffffff; */
  --off-white: #e4e6eb;
  /* --mes: #ffb30067; */

  --primary: #8b4513;
  --secondary: #efd18c;
  --bg: #5f2e0b;
}

.project-content-hero-2 {
  background-color: #efd18c;
}

.hero-container {
  display: flex;
  align-items: center;
}

.hero-container .left {
  width: 15%;
}
.hero-container .left img {
  width: 100%;
}

.hero-container .right .lang small {
    border: 2px solid var(--primary);
}



/* ARTICLE STYLING */
article p {
  color: var(--grey);
}
article h2 {
  margin: 4% 0 1% 0;
  color: var(--primary);
}

article ul {
  margin-left: 35px;
}

article ul li::marker {
  color: var(--primary);
}

article span {
  font-weight: 600;
}

.article-img {
  text-align: center;
}

.article-img img {
  width: 80%;
  max-width: max-content;
}

figcaption {
  font-style: italic;
  color: var(--primary);
  font-size: small;
}

figcaption a {
  color: var(--primary);
  font-weight: 700;
}

hr {
  margin: 20px 0;
  /* background-color: #FFB400; */
  /* font-weight: 600; */
  border: 1px solid var(--primary);
}




@media screen and (max-width: 780px) {
  .hero-container {
    flex-wrap: wrap;
  }

  .hero-container .left, .hero-container .right {
    width: 100%;
    text-align: center;
  }
  .hero-container .left img {
    width: 30%;
  }

  .hero-container .right .lang {
      justify-content: center;
  }
}